{% extends 'master.html' %}
{% block head %}
    <script type="text/javascript">
        var brew = {{ current_brew.id }}
    </script>
    {{ block.super }}
    <title>{{ current_brew }} Dashboard</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script type="text/javascript" src="/static/js/brewing.js"></script>

{% endblock %}
{% block content %}
<div>This is the current step in the brewing process: {{ current_brew.current_brew_step.name }}.</div>
<div>
    {% if current_brew.is_active %}
        <button class="button pause">Pause</button>
        <button class="button start" hidden="true">Start</button>
    {% else %}
        <button class="button pause" hidden="true">Pause</button>
        <button class="button start">Start</button>
    {% endif %}
    <button class="button next">Next Step</button>
</div>
<div class="step-list" hidden="true">
    <form class="step-form">
        {% csrf_token %}
        <select name="step_name">

        </select>
        <input class="button submit-step" type="submit">
    </form>

</div>
{% for probe in probes %}
<canvas id="chartContainer-{{probe.id}}" style="height: 300px; width: 100%;">
	</canvas>
{% endfor %}
<script type="text/javascript">
	$(document).ready(function () {
	    // create date from years, hours, minutes, seconds passed in
	    function newDateString(year, month, hours, minutes, seconds) {
            return new Date(year, month, hours, minutes, seconds);
        }


        var temp_readings = {{temp_readings|safe}};

        var probe_to_chart = {};


        // Create new chart with given data points for chart
		function newChart(dataPoints, probe) {
		    if (dataPoints.length > 0) {
                var ctx = document.getElementById("chartContainer-" + probe).getContext('2d');
                var labels = [];
                for (var i = 0; i < dataPoints.length; i++) {
                    var date = dataPoints[i].x;
                    var human_date = date.toDateString();
                    var hours = date.getHours();
                    var minutes = date.getMinutes();
                    if (minutes.toString().length < 2) {
                        minutes = '0' + minutes;
                    }
                    var label_date = human_date + ' ' + hours + ':' + minutes;
                    labels.push(label_date);
                }
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: dataPoints,
                            label: probe,
                            borderColor: '#8e5ea2',
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Temperature over time for probe: ' + probe
                        }
                    },
                });
                probe_to_chart[probe] = chart;
            }
        }

        for (probe in temp_readings) {
            var data = [];
            console.log(temp_readings[probe]);
            for (var i = 0; i < temp_readings[probe].length; i++) {
                data.push({x: new Date(temp_readings[probe][i].timestamp), y: temp_readings[probe][i].temperature});
            }

            // dataPoints
            var dataPoints1 = data;

            // Add in initial cart rendering
            newChart(dataPoints1, probe);
        }

		var updateInterval = 10000;

		function updateData(chart, dataPoints) {
		    if (chart) {
		        var labels = [];
		        for (var i = 0; i < dataPoints.length; i++) {
                    var date = dataPoints[i].x;
                    var human_date = date.toDateString();
                    var hours = date.getHours();
                    var minutes = date.getMinutes();
                    if (minutes.toString().length < 2) {
                        minutes = '0' + minutes;
                    }
                    var label_date = human_date + ' ' + hours + ':' + minutes;
                    labels.push(label_date);
                }

		        chart.data.labels = labels;
		        chart.data.datasets[0] = dataPoints;
		    }
		}

		var updateChart = function () {
            for (probe in temp_readings) {
                $.ajax({
                    type: "GET",
                    url: '/get/temp_data/',
                    data: {"brew": {{current_brew.id}}, "brew_step": {{current_brew.current_brew_step.id}},
                            "probe": probe},
                    success: function(response) {
                        for (probe in response.data) {
                            var dataPoints = [];
                            for (var j = 0; j < response.data[probe].length; j++) {
                                dataPoints.push({x: new Date(response.data[probe][j].x), y: response.data[probe][j].y});
                            }
                            var chart = probe_to_chart[probe];
                            console.log(chart);
                            updateData(chart, dataPoints);
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
		};

		// update chart after specified interval
		setInterval(function(){updateChart()}, updateInterval);
	});
	</script>
{% endblock %}